pip==20.3.1
setuptools>=26
wheel>=0.29
pandas
numpy
pytest
twine
matplotlib
seaborn
gcsfs==0.6.0
simplejson
scikit-learn
statsmodels
folium
xgboost
termcolor
mlflow
memoized_property
joblib
google-cloud-storage==1.26.0
python-dotenv
flask==1.1.1
flask-cors
gunicorn
