pip>=9
setuptools>=26
wheel>=0.29
pandas
numpy
pytest
coverage
flake8
black
yapf
python-gitlab
twine
matplotlib
seaborn
gcsfs
googlemaps
simplejson
google-auth-oauthlib
scikit-learn
statsmodels
folium
xgboost
termcolor
mlflow
memoized_property
joblib
